<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_131" class="java.beans.XMLDecoder">
 <object class="com.Settings" id="Settings0">
  <void class="com.Settings" method="getField">
   <string>txtInputText</string>
   <void method="set">
    <object idref="Settings0"/>
    <int>5</int>
   </void>
  </void>
  <void class="com.Settings" method="getField">
   <string>systemInfo</string>
   <void method="set">
    <object idref="Settings0"/>
    <string>Давление = 11,40, объем = 0,40, температура = 300,00</string>
   </void>
  </void>
 </object>
</java>
